<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="flex-column">
                    <a class="navbar-brand" href="/"><img src="/assets/images/logo_footer.png"></a>
                    <div class="company_summary">
                        Мы объединили все отдельные блоки экосистем для эффективного взаимодействия между
                        предпринимателями, а также конечными потребителями.
                    </div>
                    <div class="company_findError">
                        Нашли опечатку?<br>
                        Выделите фрагмент и отправьте нажатием Ctrl+Enter.
                    </div>
                </div>
            </div>
            <div class="col-2">
                <ul class="nav flex-column company_info">
                    <li class="nav-item">
                        <div class="company_info_title">Информация и услуги</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Супермаркет услуг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">События</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Отзывы и предложения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Помощь</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul class="nav flex-column company_info">
                    <li class="nav-item">
                        <div class="company_info_title">Разделы</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Статьи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">События</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Образование</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Соискатели</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <div class="flex-column company_info">
                    <div class="company_info_title company_info_soc">Мы в социальных сетях</div>
                    <div class="icon_soc_wrapper">
                        <a href="#"><img class="icon_soc" src="assets/images/icon_vk.png"></a>
                        <a href="#"><img class="icon_soc" src="assets/images/icon_facebook.png"></a>
                        <a href="#"><img class="icon_soc" src="assets/images/icon_twitter.png"></a>
                        <a href="#"><img class="icon_soc" src="assets/images/icon_instagram.png"></a>
                    </div>
                    <div class="company_info_title company_info_soc">Связаться с нами</div>
                    <div class="flex-column">
                        <a href="tg://resolve?domain=bhagsru" class="d-flex align-items-center company_contact">
                            <img class="icon_soc" src="assets/images/icon_telegram.png">
                            @bhagsru
                        </a>
                        <a href="mailto:support@bhagsru" class="d-flex align-items-center company_contact">
                            <img class="icon_soc" src="assets/images/icon_support.png">
                            support@bhagsru
                        </a>
                        <a href="mailto:info@bhagsru" class="d-flex align-items-center company_contact">
                            <img class="icon_soc" src="assets/images/icon_info.png">
                            info@bhagsru
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/main.min.js"></script>
</body>
</html>